body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

p, h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: currentColor;
}

ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

address {
    font-style: normal;
}

.container {
    width: 100%;
    max-width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.link {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* -------header----------- */

.header {
    border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
    background: var(--WHITE, #FFF);
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header-container {
    width: 1158px;
    padding: 0 15px;
    display: flex;
    align-items: center;
}

.header-navigation {
    display: flex;
    margin-right: auto;
    align-items: center;

}

.header-logo {
    color: var(--IRIS, #4D5AE5);
        font-family: Raleway, sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-right: 76px;
}

.header-logo-color {
    color: var(--NAVY-BLUE, #2E2F42);
        font-family: Raleway, sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}

.header-menu-list {
    display: flex;
    gap: 40px;
    margin: 0 auto;
    align-items: center;
}

.header-menu-item {
    color: var(--NAVY-BLUE, #2E2F42);
        font-size: 16px;    
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.header-menu-link {
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
}

.address {
    font-style: normal;
}

.menu-studio {
    position: relative;
    color: #404BBF;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-studio::after{
width: 100%;
position: absolute;
display: block;
content: '';
left: 0;
bottom: -1px;
height: 4px;
background-color: #404BBF;
border-radius: 2px;
}

.address-list {
    display: flex;
    gap: 40px;
    margin: 0 auto;
    align-items: center;
}

.address-link {
    color: var(--SLATE, #434455);
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link:hover {
    color: #404BBF;
}

.header-menu-link:focus {
    color: #404BBF;
}

.header-menu-link:active {
    color: #404BBF;
    text-decoration: underline;
}

.address-link:focus {
    color: #404BBF;
}

.address-link:hover {
    color: #404BBF;
}

/* -------header----------- */

/* -------hero----------- */

.hero {
    margin: 0 auto;
    max-width: 1440px;
    background-color: #2E2F42;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
        background-image: linear-gradient(rgba(46, 47, 66, 0.70),
                rgba(46, 47, 66, 0.70)),
            url(../images/people-office.jpg);
}

.hero-container {
        padding-top: 188px;
        padding-bottom: 188px;
        
}

.hero-title {
    color: var(--WHITE, #FFF);
        text-align: center;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
        margin: 0 auto;
        margin-bottom: 48px;
        max-width: 496px;
}

.hero-btn {
    color: var(--WHITE, #FFF);
        font-family: inherit;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        cursor: pointer;
        display: block;
        min-width: 169px;
        padding: 16px 32px;
        border: none;
        margin: 0 auto;
        border-radius: 4px;
            background: var(--IRIS, #4D5AE5);
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.hero-btn:hover {
    background-color: #404BBF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.hero-btn:focus {
    background-color: #404BBF;
}

/* -------hero----------- */

/* -------feature----------- */

.feature {
    padding-top: 120px;
    padding-bottom: 120px;
}

.feature-title {}

.feature-list {
    display: flex;
    gap: 24px;
}

.feature-item {
    width: calc((100% - 24px * 3) / 4);
}

.feature-icon {
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    display: flex;
    width: 264px;
    height: 112px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid var(--LIGHT-SLATE, #8E8F99);
    background: var(--CLOUD, #F4F4FD);
}

.feature-subtitle {
    color: var(--NAVY-BLUE, #2E2F42);
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
}

.feature-item-text {
    color: var(--SLATE, #434455);
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

/* -------feature----------- */

/* -------Our Team----------- */

.team {
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-title {
    margin-bottom: 72px;
    color: var(--NAVY-BLUE, #2E2F42);
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-item {
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    background: var(--WHITE, #FFF);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-img {
}

.team-inf {
margin-top: 32px;
margin-bottom: 32px;
}

.team-subtitle {
    margin-bottom: 8px;
    color: var(--NAVY-BLUE, #2E2F42);
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
}

.team-text {
    color: var(--SLATE, #434455);
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
}

.team-soc-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.team-soc-item {
    width: 40px;
    height: 40px;
}

.team-soc-link {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(77, 90, 229, 1);
    border-radius: 50%;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-link:hover {
    background-color: #404bbf;
}

.team-soc-link:focus {
    background-color: #404bbf;
}

.team-soc-icon {
    fill: #f4f4fd;
}

/* -------Our Team----------- */

/* -------portfolio----------- */

.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-title {
    color: var(--NAVY-BLUE, #2E2F42);
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio-inf {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-item:hover .portfolio-cover-text {
    transform: translateY(0%);
}

.portfolio-cover-text {
    color: var(--CLOUD, #F4F4FD);
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    position: absolute;
        top: 0;
        background-color: #4D5AE5;
        display: flex;
        align-items: center;
        padding: 40px 32px;
        height: 100%;
        width: 100%;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: calc((100% - 48px) /3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-content {
    position: relative;
    overflow: hidden;
}

.portfolio-img {
}

.portfolio-subtitle {
    margin-bottom: 8px;
    color: var(--NAVY-BLUE, #2E2F42);
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
}

.portfolio-text {
    color: var(--SLATE, #434455);
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

/* -------portfolio----------- */

/* -------footer----------- */

.footer {
    background-color: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-top {
    display: flex;
    align-items: baseline
}

.footer-logo-text {
    margin-right: 120px;
}

.footer-logo {
    display: inline-block;
    color: var(--IRIS, #4D5AE5);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.footer-logo-color {
    color: var(--NAVY-BLUE, #F4F4FD);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-text {
    max-width: 264px;
    color: var(--CLOUD, #F4F4FD);
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.footer-soc {
    margin-right: 80px;
}

.footer-title {
    color: var(--WHITE, #FFFFFF);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin-bottom: 16px;
}

.footer-soc-list {
    display: flex;
    gap: 16px;
}

.footer-soc-item {
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-link {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #4D5AE5;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon {
    fill: #F4F4FD;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-link:hover {
    background-color: #31d0aa;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-link:focus {
    background-color: #31d0aa;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form {
    display: flex;
    gap: 24px;
}

.footer-input {
    width: 264px;
    height: 40px;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid var(--WHITE, #FFF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 0 16px;
    color: var(--WHITE, #FFF);
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
}

.footer-input::placeholder {
    color: #FFFFFF;
}

.footer-lable {
    color: var(--WHITE, #FFF);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.footer-form-btn {
    min-width: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--WHITE, #FFF);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    height: 40px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 4px;
    background: var(--IRIS, #4D5AE5);
    border: none;
    cursor: pointer;
}

.subscribe-icon {
    fill: #FFFFFF;
    margin-left: 16px;
}

/* -------footer----------- */

.backdop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    opacity: 0;
    visibility: hidden;
    pointer-events: none; 
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    width: 408px;
    min-height: 584px;
    flex-shrink: 0;
    border-radius: 4px;
    background: var(--DAIRY, #FCFCFC);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 24px 24px 24px;
    align-items: center;
    justify-content: center;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-bottom: 24px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #e7e9fc
}

.modal-close-btn:hover {
    background-color: #404BBF;
    border: none;
    fill: #FFFFFF;
}

.modal-close-btn:focus {
    background-color: #404BBF;
    border: none;
    fill: #FFFFFF;
}

.modal-icon-btn {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
    color: var(--NAVY-BLUE, #2E2F42);
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin-bottom: 16px;
}

.modal-field {
    margin-bottom: 8px;
}

.modal-input-wrap {
    position: relative;
}

.modal-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    background-color: transparent;
    outline: transparent;
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.modal-input:focus {
    border-color: #4D5AE5;
}

.modal-input:focus + .modal-icon {
    fill: #4D5AE5;
}

.form-btn {
    color: var(--WHITE, #FFF);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    min-width: 169px;
    height: 56px;
    cursor: pointer;
    border: none;
    padding: 16px 32px;
    border-radius: 4px;
    background: var(--IRIS, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    display: block;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.form.btn:hover {
    background: var(--IRIS, #404BBF);
}

.modal-lebel {
    display: block;
    color: var(--LIGHT-SLATE, #8E8F99);
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        margin-bottom: 4px;
}

.modal-icon {
    fill: #2E2F42;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment {
    margin-bottom: 16px;
}

.modal-text {
    width: 100%;
    height: 120px;
    color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    border-radius: 4px;
    border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    background-color: transparent;
    outline: transparent;
    padding: 8px 16px;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.modal-text:hover {
    border-color: #4D5AE5;
}

.modal-text:focus {
    border-color: #4D5AE5;
}

.modal-check {
    margin-bottom: 24px;
}

.check-text {
    color: var(--LIGHT-SLATE, #8E8F99);
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        align-items: center;
}

.check-text a {
    color: #4D5AE5;
    text-decoration: underline;
}

.check-icon-span {
    width: 16px;
        height: 16px;
        border-radius: 2px;
        border: 1px solid #2E2F4266;
        margin-right: 8px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        fill: transparent;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border 250ms cubic-bezier(0.4, 0, 0.2, 1),
            fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-text span {
}

.check-input:checked + .check-text span {
border: none;
fill: #F4F4FD;
background-color: #404BBF;
}